
<!-- videos -->

<div id="move">
<div class="w3-container" id="topsections">

<div class="middlerow col-sm-2 text-center w3-round" > 
<h3>Popular Videos</h3>
</div>

<div class="middlerow col-sm-8 text-center" > 
<h2>Top Video of The Day</h2>
</div>

<div class="middlerow col-sm-2 text-center" > 
<h3>Recent Videos</h3>
</div>

</div>

<!-- First row -->
<div class="w3-container" ng-controller="VideoController">
<div class="col-sm-2 text-left" id="leftrow"> 


<div class="vid" ng-repeat="video in videosLeft">
  <video  width=100% id="vid1" ng-src= " {{ video.link }} " type="video/mp4" onmouseover="play()" onmouseleave="pause()" >
    Your browser does not support HTML5 video.
  </video>
  <div class="title">
  <h4>{{ video.vidName }} </h4>
  </div>
  <div class="info">
  <h5>Posted by: {{ video.v_userId.username }}</h5>
  <br>
  <h6> Likes: {{ video.likes }}  Loops: {{ video.loopCount }} </h6>
  </div>

  
  </div>
</div>
	  
	  
<!-- Second row-->

<div class="middlerow col-sm-8 text-left" >
<div class="w3-white" >
<div class="vidm" >
  <video  width=100% class="vidr" src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4" onmouseover="play()" onmouseleave="pause()" loop>
    Your browser does not support HTML5 video.
  </video>
  <div class="title">
  <h4>Title</h4>
  </div>
  <div class="info">
  <h5>User info or description</h5>
  </div>
  </div>
  </div>
  
  </div>

	  
	  <!-- Third row -->
<div class="col-sm-2 text-left" id="leftrow"> 


<div class="vid" ng-repeat="video in videosRight">
  <video  width=100% id="vid1" ng-src= " {{ video.link }} " type="video/mp4" onmouseover="play()" onmouseleave="pause()" >
    Your browser does not support HTML5 video.
  </video>
  <div class="title">
  <h4>{{ video.vidName }} </h4>
  </div>
  <div class="info">
  <h5>Posted by: {{ video.v_userId.username }}</h5>
  <br>
  <h6> Likes: {{ video.likes }}  Loops: {{ video.loopCount }} </h6>
  </div>

  
  </div>
</div>


</div>
</div>